@font-face {
    font-family: 'mononoki';
    src: url('fonts/mononoki-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: monospace;
}

body {
    background-color: #333333;
    color: #e7c8c8;
    font-family: 'mononoki';
}

.headline {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
    width: 85%;
    border: 2px dashed #c7aaaa;
}

.span-headline {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
