---
import MdiTwitter from "~icons/mdi/twitter";
import MdiGithub from "~icons/mdi/github";
import MdiRss from "~icons/mdi/rss";
import MdiSitemap from "~icons/mdi/sitemap";
import { GITHUB_HANDLE, TWITTER_HANDLE } from "../consts";

const today = new Date();
---

<footer class="flex items-center justify-between py-5">
  <p>&copy; {today.getFullYear()} Abdullah Elsayed</p>
  <div class="flex items-center space-x-1">
    <a
      href={GITHUB_HANDLE}
      target="_blank"
      class="w-8 h-8 flex items-center justify-center rounded-md p-1.5 hover:bg-slate-300 dark:hover:bg-slate-800"
    >
      <MdiGithub />
      <span class="sr-only">Github</span>
    </a>
  </div>
</footer>
